
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(http://31.media.tumblr.com/tumblr_m6qyybDaS11qzw1qyo1_500.gif);
  background-size: cover;
  background-position: 50% 50%;
  /* transition: opacity .25s ease-out; */
}

.card {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.card-block {
  padding-bottom: 0 !important;
  height: calc(100vh - 140px);
  overflow-y: scroll; 
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 15px;
  /*border: 1px dashed deeppink;*/
}
